In [ ]:
import numpy as np
import pandas as pd
import datetime

In [2]:
index_info = pro.index_basic()
index_info

,ts_code,name,market,publisher,category,base_date,base_point,list_date
0,000001.CJ,能源(长江),OTH,长江证券股份有限公司,行业指数,20021231,1000.0,20200910
1,000001.SH,上证指数,SSE,中证指数有限公司,综合指数,19901219,100.0,19910715
2,000002.CJ,原材料(长江),OTH,长江证券股份有限公司,行业指数,20021231,1000.0,20200910
3,000002.SH,上证A指,SSE,中证指数有限公司,规模指数,19901219,100.0,19920221
4,000003.CJ,工业(长江),OTH,长江证券股份有限公司,行业指数,20021231,1000.0,20200910
...,...,...,...,...,...,...,...,...
7995,932272CNY210.CSI,港股通计算机(全)CNY,CSI,中证指数有限公司,二级行业指数,20211231,3000.0,20240308
7996,932272HKD210.CSI,港股通计算机(全),CSI,中证指数有限公司,二级行业指数,20211231,3000.0,20240308
7997,932273.CSI,港股通医疗器械,CSI,中证指数有限公司,三级行业指数,20211231,3000.0,20240308
7998,932273CNY100.CSI,港股通医疗器械人民币中间价,CSI,中证指数有限公司,三级行业指数,20211231,3000.0,20240308
7999,932273CNY110.CSI,港股通医疗器械人民币中间价(全),CSI,中证指数有限公司,三级行业指数,20211231,3000.0,20240308

'20241202'

In [14]:
start_date, end_date = "20100101", datetime.datetime.today().strftime(format="%Y%m%d")
zz1000 = index_info[index_info["name"].apply(lambda x: "中证1000" == x)][
    "ts_code"
].values[0]
# 提取沪深中证1000指数
zz1000_idx_wit = pro.index_weight(
    index_code=zz1000, start_date=start_date, end_date=end_date
)
zz1000_idx_wit

     index_code   con_code trade_date  weight
0     000852.SH  300339.SZ   20241129   0.748
1     000852.SH  002456.SZ   20241129   0.676
2     000852.SH  601099.SH   20241129   0.487
3     000852.SH  002312.SZ   20241129   0.449
4     000852.SH  002085.SZ   20241129   0.390
...         ...        ...        ...     ...
5995  000852.SH  601279.SH   20240628   0.015
5996  000852.SH  301376.SZ   20240628   0.015
5997  000852.SH  603075.SH   20240628   0.015
5998  000852.SH  688433.SH   20240628   0.015
5999  000852.SH  000982.SZ   20240628   0.015

[6000 rows x 4 columns]

In [ ]:
pro.index_weight(index_code=zz1000, start_date="20190101", end_date="20190530").iloc[
    :1001,
]["weight"].sum()

     index_code   con_code trade_date  weight
0     000852.SH  002157.SZ   20190430   0.691
1     000852.SH  000977.SZ   20190430   0.602
2     000852.SH  300601.SZ   20190430   0.432
3     000852.SH  600763.SH   20190430   0.389
4     000852.SH  300012.SZ   20190430   0.346
...         ...        ...        ...     ...
996   000852.SH  603277.SH   20190430   0.022
997   000852.SH  603758.SH   20190430   0.021
998   000852.SH  603619.SH   20190430   0.020
999   000852.SH  603533.SH   20190430   0.020
1000  000852.SH  603676.SH   20190430   0.019

[1001 rows x 4 columns]

In [ ]:
month_li = pd.date_range(start=start_date, end=end_date, freq="M")
for

C:\Users\hxy23\AppData\Local\Temp\ipykernel_25184\3932378843.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  pd.date_range(start=start_date, end=end_date, freq="M")

DatetimeIndex(['2010-01-31', '2010-02-28', '2010-03-31', '2010-04-30',
               '2010-05-31', '2010-06-30', '2010-07-31', '2010-08-31',
               '2010-09-30', '2010-10-31',
               ...
               '2024-02-29', '2024-03-31', '2024-04-30', '2024-05-31',
               '2024-06-30', '2024-07-31', '2024-08-31', '2024-09-30',
               '2024-10-31', '2024-11-30'],
              dtype='datetime64[ns]', length=179, freq='ME')